* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}
:root {
  font-family: "Raleway", sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(218, 28%, 13%);
}
